<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mikimpe_wms_sync>
            <general>
                <enabled>1</enabled>
                <test_mode>1</test_mode>
                <wms_endpoint>https://api.mockfly.dev/mocks/5df029e8-40cd-43d0-9c50-9cbf48467a8b/wms-product-qty/</wms_endpoint>
                <enable_request_logger>1</enable_request_logger>
            </general>
        </mikimpe_wms_sync>
    </default>
</config>
