<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Mikimpe" sortOrder="500">
            <label>Mikimpe</label>
        </tab>
        <section id="mikimpe_wms_sync"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>WMS Sync</label>
            <tab>Mikimpe</tab>
            <resource>Mikimpe_SyncWithWMS::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled"
                       translate="label, comment"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       type="select">
                    <label>Enabled</label>
                    <comment>Enable functionality</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="test_mode"
                       translate="label, comment"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       type="select">
                    <label>Test Mode</label>
                    <comment>If enabled, the WMS sync request will be performed to the internal module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wms_endpoint"
                       translate="label, comment"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       type="text">
                    <label>WMS Endpoint</label>
                    <comment>The WMS endpoint where the "Sync with WMS" request will be directed if test mode is disabled</comment>
                    <depends>
                        <field id="test_mode">0</field>
                    </depends>
                </field>
                <field id="enable_request_logger"
                       translate="label, comment"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       type="select">
                    <label>Enable request logger</label>
                    <comment>If enabled, each WMS request performed will be logged into the log file</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
